<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript" src="~/Scripts/accessibility.js"></script>
        @{
            int tourID;
            if(int.TryParse(Request.QueryString["tour"], out tourID)){
                    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
                    <link rel="stylesheet" href="@Url.Content("/Content/shepherd/shepherd-theme-arrows.css")" />
                    <script src="@Url.Content("/Scripts/shepherd.js")" type="text/javascript"></script>
                    <script src="@Url.Content("/Scripts/tours/"+controller+"-"+tourID+".js")" type="text/javascript"></script>
                    <script type="text/javascript">
                        window.onload = function () {
                            if (tour != null) {
                                tour.start();
                            }
                        };
                    </script>
            }
        }
        @RenderSection("scripts", required: false)
        @RenderSection("Includes", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="~/images/LU-mark-rgb.png" /></p>
                </div>
                 <div class="accessibility">
                    <a href="javascript:increaseFont();"><img src="~/images/zoom_in.png" alt="Zoom In (Increase Font Size)" /></a>
                    <a href="javascript:decreaseFont();"><img src="~/images/zoom_out.png" alt="Zoom Out (Decrease Font Size)" /></a>
                    <a href="javascript:resetFont();"><img src="~/images/zoom.png" alt="Reset Zoom to Defaults" /></a>
                    <a href="javascript:negativar();"><img src="~/images/contrast.png" alt="Invert Colours" /></a>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Add Request", "Create", "Request")</li>
                            <li>@Html.ActionLink("Modules", "Index", "Module")</li>
                            <li>@Html.ActionLink("Rooms", "Index", "Room")</li>
                            <li>@Html.ActionLink("Buildings", "Index", "Building")</li>
                            <li>@Html.ActionLink("Facilities", "Index", "Facility")</li>
                            <li>@Html.ActionLink("Help", "Index", "Help")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
    </body>
</html>
