<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src="@Url.Content("~/Scripts/tools/jquery.tablesorter.js")" type="text/javascript"></script>

        <script type="text/javascript" src="~/Scripts/accessibility.js"></script>
        @{
            int tourID;
            if(int.TryParse(Request.QueryString["tour"], out tourID)){
                    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
                    <link rel="stylesheet" href="@Url.Content("~/Content/shepherd/shepherd-theme-arrows.css")" />
                    <script src="@Url.Content("~/Scripts/shepherd.js")" type="text/javascript"></script>
                    <script src="@Url.Content("~/Scripts/tours/"+controller+"-"+tourID+".js")" type="text/javascript"></script>
            }
        }
        @RenderSection("scripts", required: false)
        @RenderSection("Includes", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="content-wrapper">
                    <p class="site-title"><img src="~/images/LU-mark-rgb.png" /></p>
                </div>
                 <div class="accessibility">
                    <a href="javascript:increaseFont();"><img src="~/images/zoom_in.png" alt="Zoom In (Increase Font Size)" /></a>
                    <a href="javascript:decreaseFont();"><img src="~/images/zoom_out.png" alt="Zoom Out (Decrease Font Size)" /></a>
                    <a href="javascript:resetFont();"><img src="~/images/zoom.png" alt="Reset Zoom to Defaults" /></a>
                    <a href="javascript:negativar();"><img src="~/images/contrast.png" alt="Invert Colours" /></a>
                </div>
                <div class="float-left">
                    <nav>
                        <ul class="dropdown">
                        @if (Request.IsAuthenticated)
                        {
                                <li class="main-cell">@Html.ActionLink("Dashboard", "Index", "Home")</li>
                                <li>@Html.ActionLink("Add Request", "Create", "Request") <i class="fa fa-plus"></i></li>
                                <li>@Html.ActionLink("Request List", "List", "Requests") <i class="fa fa-list"></i></li>
                                <li>@Html.ActionLink("Request Timetable", "Timetable", "Requests") <i class="fa fa-list-alt"></i></li>
                                <li class="wide-dropdown">
                                Manage <i class="fa fa-caret-down"></i>
                                <ul>
                                    <li class="separated"><i class="fa fa-user"></i> @Html.ActionLink("Account", "Account", "User")</li>
                                    <li>@Html.ActionLink("Modules", "Index", "Module")</li>
                                    <li>@Html.ActionLink("Rooms", "Index", "Room")</li>
                                    <li>@Html.ActionLink("Buildings", "Index", "Building")</li>
                                    <li>@Html.ActionLink("Facilities", "Index", "Facility")</li>
                                </ul>
                                </li>
                                <li>@Html.ActionLink("Help", "Index", "Help") <i class="fa fa-question"></i></li>
                        }
                        </ul>
                    </nav>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div class="current-round">Current Round: <div class="CurrentRoundCode loading"><i class="fa fa-spinner"></i></div></div>
                @RenderBody()
            </section>
        </div>
            <script type="text/javascript">
                window.onload = function () {
                    var roundCode = "@ViewBag.currentRoundCode";
                    if (roundCode != "") {
                        $(".CurrentRoundCode").html("@ViewBag.currentRoundCode");
                        $(".CurrentRoundCode").removeClass("loading");
                    } else {
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("RoundAPI", "api", null, Request.Url.Scheme)",
                            dataType: "json"
                        })
			            .done(function (data) {
			                $(".CurrentRoundCode").html(data.Round_Code);
                            $(".CurrentRoundCode").removeClass("loading");
			            })
			            .fail(function (jqXHR, textStatus, err) {
                            /*failed*/
			            });
                    }
                    if (!(tour === undefined)) {
                        tour.start();
                    }
                }
            </script>
    </body>
</html>
