@model TeamProjects.Models.timetable_facility

@{
    ViewBag.Title = "Details for @Model.Facility_Name";
}

<h2>Details for @Model.Facility_Name</h2>

<table class="facilityTable">
<thead>
    <tr>
        <th>
            Facility Name
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Facility_Name)
        </td>
    </tr>
</tbody>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Facility_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
