@model IEnumerable<TeamProjects.Models.timetable_building>

@{
    ViewBag.Title = "Buildings";
}
<script type="text/javascript">
    window.onload = function () {
        $(".buildingTable").tablesorter({ sortList: [[0, 0]] });
    }
</script>
<h2>Buildings</h2>

<p class="tour1">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="buildingTable toolslast">
<thead>
    <tr>
        <th>
            Building Code
        </th>
        <th>
            Name
        </th>
        <th><i class="fa fa-wrench"></i></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Building_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building_Name)
        </td>
        <td class="tour2">
            @Html.ActionLink("Edit", "Edit", new { id=item.Building_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Building_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Building_ID })
        </td>
    </tr>
}
</tbody>
</table>
