@model WebApplication1.Models.RequestViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>timetable_request</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Module_Code, "Module Code", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Module_Code", String.Empty)
                @Html.ValidationMessageFor(model => model.Module_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Day_ID, "Day", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Day_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Day_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start_Time, "Start Time", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Start_Time)
                @Html.ValidationMessageFor(model => model.Start_Time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, "Duration", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration)
                @Html.ValidationMessageFor(model => model.Duration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Number_Students, "Number Of Students", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number_Students)
                @Html.ValidationMessageFor(model => model.Number_Students)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Number_Rooms, "Number Of Rooms", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number_Rooms)
                @Html.ValidationMessageFor(model => model.Number_Rooms)
            </div>
        </div>

        <div id="roomMods"></div>

        <script>
            $('#Number_Rooms').blur(function (event) {
                var value = $(this).val();

                if (value == parseInt(value, 10)) { // check for int
                    value = parseInt(value, 10);

                    var htmlString = "";

                    for (var x = 1; x < (value+1); x++) {
                        htmlString = htmlString + "<div id='" + x + "'>*Insert Room Module " + x + " Here*</div>";
                    }
                    document.getElementById('roomMods').innerHTML = htmlString;
                }
                else {
                    //alert("Not int!");
                    document.getElementById('roomMods').innerHTML = "";
                }

            });
        </script>

            <div class="form-group">
                @Html.LabelFor(model => model.Room_Type, "Room Type", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Room_Type)
                    @Html.ValidationMessageFor(model => model.Room_Type)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Park_ID, "Park", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Park_ID", String.Empty)
                    @Html.ValidationMessageFor(model => model.Park_ID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Priority, "Priority", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Priority)
                    @Html.ValidationMessageFor(model => model.Priority)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Custom_Comments, "Additional Information", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Custom_Comments)
                    @Html.ValidationMessageFor(model => model.Custom_Comments)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

            @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            }
