@model TeamProjects.Models.timetable_module

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>timetable_module</legend>

        <!--TODO Change CO to user code-->
        <input id="Department_Code" name="Department_Code" type="hidden" value="CO" />

        <div class="editor-label">
            <label for="Part_Code">Part Code</label>
        </div>
        <div class="editor-field">
            <select id="Part_Code" name="Part_Code">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            @Html.ValidationMessageFor(model => model.Part_Code)
        </div>

        <div class="editor-label">
            <label for="Module_Code">Module Code</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Module_Code, new { onkeypress="return isNumber(event)" })
            @Html.ValidationMessageFor(model => model.Module_Code)
            <span class="modCodeVal hide"><i class="fa fa-exclamation-triangle"></i> Must be a number.</span>
        </div>

        <div class="editor-label">
            <label for="Module_Title">Module Title</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Module_Title)
            @Html.ValidationMessageFor(model => model.Module_Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            $('.modCodeVal').removeClass('hide').addClass('show');
            return false;
        }
        $('.modCodeVal').removeClass('show').addClass('hide');
        return true;
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
