@model TeamProjects.Models.timetable_module

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="moduleTable">
<thead>
    <tr>
        <th>
            Module Code
        </th>
        <th>
            Part Code
        </th>
        <th>
            Module Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            @Model.Department_Code@Model.Module_Code
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Part_Code)
        </td>
        <td>
            @Model.Module_Title
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Active)
        </td>
    </tr>
</tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { moduleCode = Model.Module_Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
