@model TeamProjects.Models.timetable_module

@{
    ViewBag.Title = "Edit Part "+Model.Part_Code+" Module "+Model.Department_Code+Model.Module_Code;
}

<h2>Edit Part @Model.Part_Code Module @Model.Department_Code@Model.Module_Code</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>timetable_module</legend>

        <input id="Department_Code" name="Department_Code" type="hidden" value="@Model.Department_Code" />
        <input id="Module_Code" name="Module_Code" type="hidden" value="@Model.Module_Code" />
        <input id="Part_Code" name="Part_Code" type="hidden" value="@Model.Part_Code" />

        <div class="editor-label">
            @Html.LabelFor(model => model.Module_Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Module_Title)
            @Html.ValidationMessageFor(model => model.Module_Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
