@model TeamProjects.Models.timetable_module

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>timetable_module</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Department_Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Department_Code)
            @Html.ValidationMessageFor(model => model.Department_Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Part_Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Part_Code)
            @Html.ValidationMessageFor(model => model.Part_Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Module_Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Module_Code)
            @Html.ValidationMessageFor(model => model.Module_Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Module_Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Module_Title)
            @Html.ValidationMessageFor(model => model.Module_Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
