@model IEnumerable<TeamProjects.Models.timetable_module>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    window.onload = function () {
        $(".moduleTable").tablesorter({ sortList: [[0, 0]] });
    }
</script>
<h2>Modules</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="moduleTable toolslast">
<thead>
    <tr>
        <th>
            Module Code
        </th>
        <th>
            Part Code
        </th>
        <th>
            Module Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th><i class="fa fa-wrench"></i></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Department_Code@item.Module_Code
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Part_Code)
        </td>
        <td>
            @item.Module_Title
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { moduleCode = item.Module_Code }) |
            @Html.ActionLink("Details", "Details", new { moduleCode = item.Module_Code }) |
            @Html.ActionLink("Delete", "Delete", new { moduleCode = item.Module_Code })
        </td>
    </tr>
}
</tbody>
</table>
