@using Microsoft.AspNet.Identity
@model WebApplication1.Models.timetable_module

@{
    ViewBag.Title = Model.Department_Code;
    ViewBag.Title += Model.Module_Code;
}

<h2>@(User.Identity.GetUserName()) Modules | Details</h2>

<div>
    <h4>timetable_module</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Module Code
        </dt>

        <dd>
            @(Model.Department_Code)@(Model.Module_Code)
        </dd>

        <dt>
            Module Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module_Title)
        </dd>

        <dt>
            Active
        </dt>

        <dd>
            @Html.Raw(Model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
