@model IEnumerable<TeamProjects.Models.timetable_round>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    window.onload = function () {
        $(".roundTable").tablesorter({ sortList: [[0, 0]] });
    }
</script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="roundTable">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Round_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Date)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Round_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
</tbody>
</table>
