@model WebApplication1.Models.RoomBuildingViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Building_ID@Model.Room_ID Details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Building
        </dt>

        <dd>
            @Model.Building_Name
        </dd>

        <dt>
            Room
        </dt>

        <dd>
            @Model.Building_ID@Model.Room_ID
        </dd>

        <dt>
            Park
        </dt>

        <dd>
            @Model.Park_ID
        </dd>

        <dt>
            Capacity
        </dt>

        <dd>
            @Model.Capacity
        </dd>

        <dt>
            Room Type
        </dt>

        <dd>
            @Model.Type_ID
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
