@model TeamProjects.Models.timetable_request

@{
    ViewBag.Title = "Edit Request @Model.Request_ID";
}

<h2>Edit Request @Model.Request_ID</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>timetable_request</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Request_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Request_ID)
            @Html.ValidationMessageFor(model => model.Request_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Department_Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Department_Code)
            @Html.ValidationMessageFor(model => model.Department_Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Module_Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Module_Code)
            @Html.ValidationMessageFor(model => model.Module_Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Day_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Day_ID)
            @Html.ValidationMessageFor(model => model.Day_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Park_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Park_ID)
            @Html.ValidationMessageFor(model => model.Park_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Start_Time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Start_Time)
            @Html.ValidationMessageFor(model => model.Start_Time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number_Students)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number_Students)
            @Html.ValidationMessageFor(model => model.Number_Students)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number_Rooms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number_Rooms)
            @Html.ValidationMessageFor(model => model.Number_Rooms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Priority)
            @Html.ValidationMessageFor(model => model.Priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Custom_Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Custom_Comments)
            @Html.ValidationMessageFor(model => model.Custom_Comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Current_Round)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Current_Round)
            @Html.ValidationMessageFor(model => model.Current_Round)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Request_Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Request_Status)
            @Html.ValidationMessageFor(model => model.Request_Status)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
