@model IEnumerable<TeamProjects.Models.timetable_request>

@{
    ViewBag.Title = "Index";
    string department = "CO";
}

<h2>Requests</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Part Code
        </th>
        <th>
            Module Code
        </th>
        <th>
            Day
        </th>
        <th>
            Park
        </th>
        <th>
            Start Time
        </th>
        <th>
            Duration
        </th>
        <th>
            Students
        </th>
        <th>
            Rooms
        </th>
        <th>
            Priority
        </th>
        <th>
            Comments
        </th>
        <th>
            Round
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Part_Code)
        </td>
        <td>
            @Html.Raw(department)@Html.DisplayFor(modelItem => item.Module_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Park_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Students)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Rooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Custom_Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current_Round)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Request_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Request_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Request_ID })
        </td>
    </tr>
}

</table>
