@model IEnumerable<TeamProjects.Models.timetable_request>

@{
    ViewBag.Title = "Index";
    string department = "CO";
}
@section Includes{
    <link href="@Url.Content("/Content/Requests.css")" rel="stylesheet" />
}

<h2>Requests</h2>
<script type="text/javascript">
    window.onload = function () {
        function refineResults() {
            $(".noresults").removeClass("showrow").addClass("hiderow");
            var rounds = new Array();
            $(".roundsOptions input:checked").each(function () {
                rounds.push(parseInt(this.className.split("-")[1]));
            });
            $(".requestRound").each(function () {
                if (rounds.indexOf(parseInt($(this).text())) == -1) {
                    $(this).parent().removeClass("showrow").addClass("hiderow");
                } else {
                    $(this).parent().removeClass("hiderow").addClass("showrow");
                }
            });
            var searchTerm = $(".commentSearchInput").val().toLowerCase();
            if (searchTerm != "") {
                $(".showrow .requestComments").each(function () {
                    if (String($(this).text().toLowerCase()).indexOf(searchTerm) == -1) {
                        $(this).parent().removeClass("showrow").addClass("hiderow");
                    }
                });
            }
            if ($(".selectedrow").hasClass("hiderow")) {
                $(".selectedrow").removeClass("selectedrow");
                $(".detailsrow").remove();
            }
            if ($(".showrow").length == 0) {
                $(".noresults").removeClass("hiderow").addClass("showrow");
            }
        }
        $(".roundsOptions input").change(function () {
            refineResults();
        });
        $(".commentSearchInput").keyup(function () {
            refineResults();
        });
        var details_tether = null;
        $(".showrow").click(function () {
            if (!$(this).hasClass("selectedrow")) {
                $('.detailsrow').remove();
                $(".selectedrow").removeClass("selectedrow");
                var comment = ($.trim($(this).find(".requestComments").text()) == "") ? "No comments" : String($(this).find(".requestComments").text());
                $(this).addClass("selectedrow").after("<tr class='detailsrow'><td colspan=13><div class='detailsheader'>Comments</div><div class='detailscontent'>" + comment + "</div></td></tr>");
            } else {
                $('.detailsrow').remove();
                $(this).removeClass("selectedrow");
            }
        });
    }
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="roundsOptions">
@{
    for (var i = 1; i <= ViewBag.currentRoundCode; i++)
    {
        <label style="display:inline-block;margin-bottom:10px;margin-right:10px;">
            <input class="round-@i" checked type="checkbox" />Round @i
            @{
                if(i==ViewBag.currentRoundCode){
                    <span>(Current)</span>
                }
            }
        </label>
    }
}
</div>
<div class="commentSearch">
    Search comments: <input class="commentSearchInput" type="text" />
</div>
<table class="requestsTable">
    <tr>
        <th>
            Part Code
        </th>
        <th>
            Module Code
        </th>
        <th>
            Day
        </th>
        <th>
            Park
        </th>
        <th>
            Start Time
        </th>
        <th>
            Duration
        </th>
        <th>
            Students
        </th>
        <th>
            Rooms
        </th>
        <th>
            Priority
        </th>
        <th>
            Comments
        </th>
        <th>
            Round
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr class="requestRow showrow">
        <td>
            @Html.DisplayFor(modelItem => item.Part_Code)
        </td>
        <td>
            @Html.Raw(department)@Html.DisplayFor(modelItem => item.Module_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Park_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Students)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Rooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td class="requestComments">
            @Html.DisplayFor(modelItem => item.Custom_Comments)
        </td>
        <td class="requestRound">
            @Html.DisplayFor(modelItem => item.Current_Round)
        </td>
        <td class="requestControls">
            @Html.DisplayFor(modelItem => item.Request_Status)
        </td>
        <td>
            @{
                if (item.Current_Round==ViewBag.CurrentRoundCode){
                    Html.ActionLink("Edit", "Edit", new { id = item.Request_ID });
                    <span>|</span>
                    Html.ActionLink("Delete", "Delete", new { id = item.Request_ID });  
                }             
            }
        </td>
    </tr>
}
    <tr class="noresults hiderow">
        <td colspan=13>No requests could be found.</td>
    </tr>

</table>
