@model List<TeamProjects.Models.RequestListModel>
@{
    ViewBag.Title = "Request List";
}
@section Includes{
    <link href="@Url.Content("~/Content/Request.css")" rel="stylesheet" />
}
<script type="text/javascript">
    window.onload = function () {
        function refineRequests() {
            //Search the comments - Case insensitive
            var searchTerm = $(".commentSearchInput").val().toLowerCase();
            if (searchTerm != "") {
                $('.detail__comment').each(function () {
                    if (String($(this).text().toLowerCase()).indexOf(searchTerm) != -1) {
                        console.log(this);
                    }
                });
            }
        }
        $('.commentSearchInput').keyup(function () {
            refineRequests();
        });

    }
</script>
<h2>List</h2>
<p>
    @Html.ActionLink("Add Request", "Create") <i class="fa fa-plus"></i>
</p>
<p>
    <i class="fa fa-info-circle"></i> Click on a request to view it in detail. Click on headings to sort the table.
</p>
<div class="roundsOptions change-search">
@{
    //Display checkboxes for each round that is it possible for a request to have been made for
    for (var i = 1; i <= ViewBag.currentRoundCode; i++)
    {
        <label style="display:inline-block;margin-bottom:10px;margin-right:10px;">
            <input class="round-@i" checked type="checkbox" />Round @i
            @{
                //Check if the round the checkbox is being shown for is the current round
                //Add an indicator if it is
                if(i==ViewBag.currentRoundCode){
                    <span>(Current)</span>
                }
            }
        </label>
    }
}
</div>
<div>
Module
<select class="moduleSelect change-search">
    <option value="">Choose a module</option>
@{
List<string> moduleList = new List<string>();
foreach (var item in Model.OrderBy(r => r.Module_Code))
{
    string moduleCode = String.Concat(User.Identity.Name,item.Module_Code);
    if(!(moduleList.Contains(moduleCode))){
        moduleList.Add(moduleCode);
        <option value="@Html.Raw(moduleCode)">@Html.Raw(User.Identity.Name)@Html.DisplayFor(modelItem => item.Module_Code)</option>  
    }
    
}
}
</select>
</div>
<div class="commentSearch">
    Search comments: <input class="commentSearchInput" type="text" />
</div>
<table id="RequestTable" class="toolslast">
<thead>
    <tr>
        <th>Code</th>
        <th>Round</th>
        <th>Day</th>
        <th>Periods</th>
        <th>Park</th>
        <th>Rooms</th>
        <th>Students</th>
        <th>Priority</th>
        <th>Comment</th>
        <th>Status</th>
        <th><i class="fa fa-wrench"></i></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr class="requestrow request-@item.Request_ID showrow" data-request="@item.Request_ID">
        <td class="requestModCode" data-modCode="@item.Module_Code">@User.Identity.Name@item.Module_Code</td>
        <td>@item.Round</td>
        <td>@item.Day</td>
        <td>@item.Start_Period - @item.End_Period | @item.Time_String</td>
        <td>@item.Park</td>
        <td>@item.Number_Rooms</td>
        <td>@item.Number_Students</td>
        <td>@((item.Priority) ? Html.Raw("<span><i class='fa fa-check'></i></span>") : Html.Raw("<span><i class='fa fa-times'></i></span>"))</td>
        <td>@((item.Has_Comments) ? Html.Raw("<span><i class='fa fa-check'></i></span>") : Html.Raw("<span><i class='fa fa-times'></i></span>"))</td>
        <td>@item.Status</td>
        <td>
            @{
                if (item.Round == ViewBag.CurrentRoundCode)
                {
                                <a href="~/Requests/Edit/@item.Request_ID">Edit</a>
                                <span>|</span>
                                <a href="~/Requests/Duplicate/@item.Request_ID">Duplicate</a>
                                <span>|</span>
                                <a href="~/Requests/Delete/@item.Request_ID">Delete</a>
                }
            }
        </td>
    </tr>
    <tr class="detailsrow details-@item.Request_ID hiderow" data-request="@item.Request_ID">
        <td colspan="11">
            <div class='detail detail__title'><div class='detailsheader'>Title</div><div class='detailscontent'>@item.Module_Title</div></div>
            <div class='detail detail__rooms'><div class='detailsheader'>@((ViewBag.CurrentRoundCode == item.Round) ? "Room Preferences" : "Allocated Rooms")</div><div class='detailscontent'>
            @{
                if (item.Rooms.Length > 0)
                {
                    foreach (string room in item.Rooms)
                    {
                        <span class="room">@room</span>
                    }
                }
                else
                {
                    <span>No rooms allocated.</span>
                } 
            }
            </div></div>
            <div class='detail detail__weeks'><div class='detailsheader'>Weeks</div>
            <div class='detailscontent'>
            @{
                bool hasAWeek = false;
                for (int i = 0; i < item.Weeks.Count(); i++)
                {
                    if (item.Weeks[i])
                    {
                        <span class="week">@(i + 1)</span>
                        hasAWeek = true;
                    }
                }
                if (!hasAWeek)
                {
                    <span>No weeks selected for this request.</span>
                }
            }
            </div></div>
            @{
                if (item.Has_Comments)
                {
                    <div class='detail detail__comment'><div class='detailsheader'>Comments</div><div class='detailscontent'>@item.Custom_Comments</div></div>
                }
            }
            
        </td>
    </tr>    
}
    <tr class="noresults hiderow"><td colspan=11>No Request could be found.</td></tr>
</tbody>
</table>
<script type="text/javascript">
    if($('#RequestTable tbody tr').length > 1){
        $("#RequestTable").tablesorter({ sortList: [[1, 1]] });
        //assign the sortStart event
        $("#RequestTable").bind("sortEnd", function () {
            var detailsrows = $(".detailsrow").remove();
            detailsrows.each(function () {
                $('.request-' + $(this).data('request')).after($(this));
            });
        });
        $('.requestrow').click(function () {
            $(this).toggleClass('selected');
            $('.details-' + $(this).data('request')).toggleClass('hiderow').toggleClass('selected');
        });
    } else {
        $('.noresults').removeClass('hiderow').addClass('showrow');
    }
</script>