@model TeamProjects.Models.RequestViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>timetable_request</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Module_Code, "Module Code", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Module_Code", String.Empty)
                @Html.ValidationMessageFor(model => model.Module_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Day_ID, "Day", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Day_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Day_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start_Time, "Start Time", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Start_Time)
                @Html.ValidationMessageFor(model => model.Start_Time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, "Duration", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration)
                @Html.ValidationMessageFor(model => model.Duration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Number_Students, "Number Of Students", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number_Students)
                @Html.ValidationMessageFor(model => model.Number_Students)
            </div>
        </div>

        <div class="form-group">---</div>

            <div class="form-group">
                @Html.LabelFor(model => model.Room_Type, "Room Type", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Room_Type", String.Empty)
                    @Html.ValidationMessageFor(model => model.Room_Type)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Park_ID, "Park", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Park_ID", String.Empty)
                    @Html.ValidationMessageFor(model => model.Park_ID)
                </div>
            </div>

		<div class="form-group">
			@Html.LabelFor(model => model.Building_ID, "Building", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("Building_ID", String.Empty)
				@Html.ValidationMessageFor(model => model.Building_ID)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Room_ID, "Room", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("Room_ID", String.Empty)
				@Html.ValidationMessageFor(model => model.Room_ID)
			</div>
		</div>

        <div class="form-group">---</div>

        <input type="button" value="Add Room Preference" onclick="addRoomPref()" />

        <input type="button" value="Delete Room Preference(s)" onclick="deleteRowAndPref('dataTable')" />

        <table id="dataTable" width="350px" border="1">
        </table>

        <div id="roomChoices" class="form-group"></div>
        <div class="form-group">---</div>

        <script>
            var roomPrefCollection = new Array();

            function addRow(tableID) {

                var table = document.getElementById(tableID);

                var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);

                var cell1 = row.insertCell(0);
                var element1 = document.createElement("input");
                element1.type = "checkbox";
                element1.name = "chkbox[]";
                cell1.appendChild(element1);

                var cell2 = row.insertCell(1);
                cell2.innerHTML = roomPrefCollection[roomPrefCollection.length - 1][0];

                var cell3 = row.insertCell(2);
                cell3.innerHTML = roomPrefCollection[roomPrefCollection.length - 1][1];

                var cell4 = row.insertCell(3);
                cell4.innerHTML = roomPrefCollection[roomPrefCollection.length - 1][2];

                var cell5 = row.insertCell(4);
                cell5.innerHTML = roomPrefCollection[roomPrefCollection.length - 1][3];
            }

            function deleteRowAndPref(tableID) {
                try {
                    var table = document.getElementById(tableID);
                    var rowCount = table.rows.length;

                    for (var i = 0; i < rowCount; i++) {
                        var row = table.rows[i];
                        var chkbox = row.cells[0].childNodes[0];

                        if (null != chkbox && true == chkbox.checked) {
                            roomPrefCollection.splice(i, 1);

                            table.deleteRow(i);
                            rowCount--;
                            i--;
                        }
                    }
                } catch (e) {
                    alert(e);
                }
            }

            function addRoomPref() {

                if (document.getElementById('Room_ID').value == "" || document.getElementById('Building_ID').value == "" || document.getElementById('Park_ID').value == "" || document.getElementById('Room_Type').value == "" || document.getElementById('Room_Type').value == "") {
                    alert("Please fill in all room preference fields before attempting to add a new preference.")
                }

            	else if (roomPrefCollection.length > 2) {
            		// Already got 3 room preferences. Tell them that they can remove a roompref from the list of already added roomprefs, then add new one.

            		alert("The maximum number of room preferences has already been filled. If you wish to add another, please remove an existing room preference.")
            	}

            	else {
            		roomPref = new Array();
            		roomPref[0] = document.getElementById('Room_Type').value;
            		roomPref[1] = document.getElementById('Park_ID').options[document.getElementById('Park_ID').selectedIndex].text;
            		roomPref[2] = document.getElementById('Building_ID').options[document.getElementById('Building_ID').selectedIndex].text;
            		roomPref[3] = document.getElementById('Room_ID').options[document.getElementById('Room_ID').selectedIndex].text;

            		roomPrefCollection.push(roomPref);

            		// Once added, empty the roompref inputs
            		// old table: //document.getElementById("roomChoices").innerHTML = document.getElementById("roomChoices").innerHTML + roomPrefArray[roomPrefCount][0] + " | " + roomPrefArray[roomPrefCount][1] + " | " + roomPrefArray[roomPrefCount][2] + " | " + roomPrefArray[roomPrefCount][3] + "</br>";
            		document.getElementById('Room_Type').value = "";
            		document.getElementById('Park_ID').value = "";
            		document.getElementById('Building_ID').value = "";
            		document.getElementById('Room_ID').value = "";

            		addRow('dataTable');

            		alert("Room preference successfully added!");
            	}
            }

        </script>

            <div class="form-group">
                @Html.LabelFor(model => model.Priority, "Priority", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Priority)
                    @Html.ValidationMessageFor(model => model.Priority)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Custom_Comments, "Additional Information", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Custom_Comments)
                    @Html.ValidationMessageFor(model => model.Custom_Comments)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

            @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            }
