@model IEnumerable<TeamProjects.Models.timetable_request>

@{
    ViewBag.Title = "Index";
    string department = "CO";
}
@section Includes{
    <link href="@Url.Content("/Content/Request.css")" rel="stylesheet" />
}

<h2>Request</h2>
<script type="text/javascript">
    window.onload = function () {
        function refineResults() {
            //Initially hide "no results" indicator
            //Will be shown if needed at the end of the refinement function
            $(".noresults").removeClass("showrow").addClass("hiderow");
            //Get array of rounds to be shown
            var rounds = new Array();
            $(".roundsOptions input:checked").each(function () {
                rounds.push(parseInt(this.className.split("-")[1]));
            });
            //Limit the rounds being displayed
            $(".requestRound").each(function () {
                if (rounds.indexOf(parseInt($(this).text())) == -1) {
                    $(this).parent().removeClass("showrow").addClass("hiderow");
                } else {
                    $(this).parent().removeClass("hiderow").addClass("showrow");
                }
            });
            //Search the comments - Case insensitive
            var searchTerm = $(".commentSearchInput").val().toLowerCase();
            if (searchTerm != "") {
                $(".showrow .requestComments").each(function () {
                    if (String($(this).text().toLowerCase()).indexOf(searchTerm) == -1) {
                        $(this).parent().removeClass("showrow").addClass("hiderow");
                    }
                });
            }
            //If a row that is showing its detail view is hidden, hide the details too
            if ($(".selectedrow").hasClass("hiderow")) {
                $(".selectedrow").removeClass("selectedrow");
                $(".detailsrow").remove();
            }
            //If the refinement has produced no results, add an indicator
            if ($(".showrow").length == 0) {
                $(".noresults").removeClass("hiderow").addClass("showrow");
            }
        }
        //Trigger result refinement on any appropriate change
        $(".roundsOptions input").change(function () {
            refineResults();
        });
        $(".commentSearchInput").keyup(function () {
            refineResults();
        });
        //NOTE - SUBJECT TO CHANGE
        //NEW METHOD IDEA - ADD DETAILSROW FOR ALL Request, BUT HAVE ALL HIDDEN
        //THEN HAVE THE CLICK SHOW DETAILS ROW INSTEAD OF DYNAMICALLY ADDING AND REMOVING ELEMENTS
        //CHANGE IDEA - 28/04/2014
        //CHANGE DONE - --/--/----
        //Show details for a request underneath it when it is clicked on
        $(".showrow").click(function () {
            if (!$(this).hasClass("selectedrow")) {
                $('.detailsrow').remove();
                $(".selectedrow").removeClass("selectedrow");
                //Pull the request comments from the hidden comment column
                var comment = ($.trim($(this).find(".requestComments").text()) == "") ? "No comments" : String($(this).find(".requestComments").text());
                $(this).addClass("selectedrow").after("<tr class='detailsrow'><td colspan=13><div class='detailsheader'>Comments</div><div class='detailscontent'>" + comment + "</div></td></tr>");
            } else {
                $('.detailsrow').remove();
                $(this).removeClass("selectedrow");
            }
        });
    }
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="roundsOptions">
@{
    //Display checkboxes for each round that is it possible for a request to have been made for
    for (var i = 1; i <= ViewBag.currentRoundCode; i++)
    {
        <label style="display:inline-block;margin-bottom:10px;margin-right:10px;">
            <input class="round-@i" checked type="checkbox" />Round @i
            @{
                //Check if the round the checkbox is being shown for is the current round
                //Add an indicator if it is
                if(i==ViewBag.currentRoundCode){
                    <span>(Current)</span>
                }
            }
        </label>
    }
}
</div>
<div class="commentSearch">
    Search comments: <input class="commentSearchInput" type="text" />
</div>
<table class="RequestTable">
    <tr>
        <th>Module Code</th>
        <th>Day</th>
        <th>Park</th>
        <th>Start Time</th>
        <th>Duration</th>
        <th>Students</th>
        <th>Rooms</th>
        <th>Priority</th>
        <th>Comments</th>
        <th>Comment</th>
        <th>Round</th>
        <th>Status</th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr class="requestRow showrow">
        <td>
            @Html.Raw(department)@Html.DisplayFor(modelItem => item.Module_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Park_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Students)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Rooms)
        </td>
        <td>
            @{
                if (item.Priority)
                {
                    <i class="fa fa-check"></i>
                }
                else
                {
                    <i class="fa fa-times"></i>
                }
            }
        </td>
        <td class="requestComments">
            @Html.DisplayFor(modelItem => item.Custom_Comments)
        </td>
        <td class="">
            @{
                if (item.Custom_Comments.ToString() == " ")
                {
                    <span>N</span>
                }
                else
                {
                    <span>Y</span>
                }
            }
        </td>
        <td class="requestRound">
            @Html.DisplayFor(modelItem => item.Current_Round)
        </td>
        <td class="requestControls">
            @Html.DisplayFor(modelItem => item.Request_Status)
        </td>
        <td>
            @{
                if (item.Current_Round == ViewBag.CurrentRoundCode)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Request_ID });
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Request_ID });
                }
            }
        </td>
    </tr>
}
    <tr class="noresults hiderow">
        <td colspan=13>No Request could be found.</td>
    </tr>

</table>
