@model TeamProjects.Models.timetable_room

@{
    ViewBag.Title = "Delete @Model.Building_ID @Model.Room_ID";
}

<h2>Delete @Model.Building_ID @Model.Room_ID</h2>

<h3>Are you sure you want to delete this?</h3>
<table class="roomTable">
<thead>
    <tr>
        <th>
            Room
        </th>
        <th>
            Building
        </th>
        <th>
            Capacity
        </th>
        <th>
            Type
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            @Model.Building_ID@Model.Room_ID
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Building_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Type_ID)
        </td>
    </tr>
</tbody>
</table>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
