@model TeamProjects.Models.RoomBuildingViewModel

@{
    ViewBag.Title = "Details for @Model.Building_ID @Model.Room_ID";
}

<h2>Details for @Model.Building_ID @Model.Room_ID</h2>

<fieldset>
    <legend>timetable_room</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Park_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Park_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Building_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Building_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Room_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Capacity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capacity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type_ID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { buildingID = Model.Building_ID, roomID = Model.Room_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
