@model IEnumerable<TeamProjects.Models.RoomBuildingViewModel>

@{
    ViewBag.Title = "Rooms";
}
<script type="text/javascript">
    window.onload = function () {
        $(".roomTable").tablesorter({ sortList: [[0, 0]] });
    }
</script>
<h2>Rooms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="roomTable toolslast">
<thead>
    <tr>
        <th>
            Room
        </th>
        <th>
            Building
        </th>
        <th>
            Park
        </th>
        <th>
            Capacity
        </th>
        <th>
            Type
        </th>
        <th><i class="fa fa-wrench"></i></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.Building_ID@item.Room_ID
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Park_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @if (item.Type_ID == 1)
            {
                <span>Lecture</span>
            }
            else if (item.Type_ID == 2)
            {
                <span>Seminar</span>
            }
            else if (item.Type_ID == 3)
            {
                <span>Lab</span>
            }
            else
            {
                <span>Unknown</span>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { buildingID = item.Building_ID, roomID = item.Room_ID }) |
            @Html.ActionLink("Details", "Details", new { buildingID = item.Building_ID, roomID = item.Room_ID }) |
            @Html.ActionLink("Delete", "Delete", new { buildingID = item.Building_ID, roomID = item.Room_ID })
        </td>
    </tr>
}
</tbody>
</table>
