@model IEnumerable<TeamProjects.Models.RoomBuildingViewModel>

@{
    ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Building_Name)
        </th>
        <th>
            Room
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Park_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Building_Name)
        </td>
        <td>
            @item.Building_ID@item.Room_ID
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Park_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { buildingID = item.Building_ID, roomID = item.Room_ID }) |
            @Html.ActionLink("Details", "Details", new { buildingID = item.Building_ID, roomID = item.Room_ID }) |
            @Html.ActionLink("Delete", "Delete", new { buildingID = item.Building_ID, roomID = item.Room_ID })
        </td>
    </tr>
}

</table>
